@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	font-family: "Poppins", sans-serif !important;
}

.block-social ul {
	display: inline-block;
	line-height: 44px;
	list-style: none;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

.block-social ul li {
	display: inline-block;
}

.block-social ul li a {
	color: white;
	padding-left: .6rem;
	text-decoration: none;
}

.block-social ul li a::after {
	font-family: "FontAwesome";
}

.block-social a>span {
	display: none;
}

.block-social .facebook a::after {
	content: "\f09a";
}

.block-social .twitter a::after {
	content: "\f099";
	animation: twitter 6s infinite;
}

@keyframes twitter {
	0% {
		content: "\f099";
	}

	50% {
		content: "\e61b";
	}
}

.block-social .youtube a::after {
	content: "\f16a";
}

.block-social .pinterest a::after {
	content: "\f0d2";
}

.block-social .instagram a::after {
	content: "\f16d";
}

.block-social .blog a::after {
	content: "\f032";
}