#banner {
	background-color: #ff4e00;
	color: white;
	display: grid;
	grid-template: "banner";
	padding: 0 40px;
	text-align: center;
}

#banner p {
	grid-area: banner;
	margin: 0;
	opacity: 0;
	padding: 6px;
	transition: .6s;
}

.icon-cross-line {
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	padding: 6px;
	position: absolute;
	right: 6px;
}