@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

:root {
	--corporativo: #A00;
	--color: white;
}

header {
	background: var(--corporativo);
}

#redes {
	display: flex;
}

#redes h6 {
	font-family: "Rock Salt", Sans-serif;
}

#redes img {
	height: 1rem;
}

#redes a {
	color: var(--color);
	text-decoration: none;
}

#search-input {
	border: none;
	margin: 0;
	padding: 0 .6rem;
}

#redes form button {
	background: #C00202;
	border: none;
	padding: 0 6px;
	transition: .6s;
}

#redes form button:hover {
	background: rgba(240, 7, 7, 0.97);
}