@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

:root {
	--bgSearchBtn: #C00202;
	--bgSearchBtnHover: #f00707f7;
	--corporativo: #A00;
	--color: white;
	--subMenuColor: #424242;
}

html {
	font-family: Raleway, sans-serif;
	color: var(--color) !important;
}

header {
	background: var(--corporativo);
}

#encabezado {
	align-items: center;
	box-shadow: 0px -20px 18px -20px rgba(0, 0, 0, 0.95) inset;
	color: var(--color);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: .3rem;
}

#encabezado h6 {
	font-family: "Rock Salt", Sans-serif;
	font-size: .9375em;
	margin: .7rem 0 .9rem;
	padding: 0 .6rem;
	white-space: nowrap;
}

#encabezado #icons {
	display: flex;
}

#encabezado a {
	font-size: 1.1em;
	display: inline-flex;
	color: var(--color);
	padding: 0 .6rem;
	text-decoration: none;
}

#encabezado img {
	height: 1.1rem;
}

#encabezado form {
	display: flex;
	font-size: .9em;
	padding: 6px;
}

#search-input {
	width: 266px;
	border-radius: .1rem 0 0 .1rem;
	border: none;
	margin: 0;
	padding: 0 .6rem;
}

#encabezado form button {
	background: var(--bgSearchBtn);
	border-radius: 0 .1rem .1rem 0;
	border: none;
	color: var(--color);
	padding: 0 6px;
	transition: .6s;
}

#encabezado form button:hover {
	background: var(--bgSearchBtnHover);
}

#menuPrincipal {
	border-bottom: 2px solid #d3d3d3;
	display: flex;
	justify-content: space-around;
	padding: 10px;
	column-gap: .6rem;
}

#menuPrincipal img {
	width: 230px;
	padding-bottom: 15px;
}

#menuPrincipal ul {
	list-style: none;
}

#menuPrincipal #enlaces {
	align-items: center;
	display: inline-flex;
	flex-wrap: wrap;
}

#menuPrincipal #enlaces>li {
	position: relative;
}

#menuPrincipal #enlaces>li>a {
	color: var(--color);
	padding: 0 .6rem;
	text-decoration: none;
	transition: .6s;
}

#menuPrincipal #enlaces>li:hover>a {
	color: #e2cece;
}

#menuPrincipal #enlaces>li::after {
	border-bottom: 2px solid #e2cece;
	content: ' ';
	display: inline-block;
	left: 100%;
	position: absolute;
	transition: .6s;
	width: 0;
}

#menuPrincipal #enlaces>li:hover::after {
	left: 0;
	width: 100%;
}

#menuPrincipal #enlaces .subMenu {
	background: var(--color);
	background-clip: padding-box;
	border-top: .6rem solid transparent;
	inset: 1.4rem auto auto 0;
	padding: 0;
	position: absolute;
	transform-origin: left top;
	transform: scale(0);
	transition: .6s;
}

#menuPrincipal #enlaces li:hover .subMenu {
	transform: scale(1);
	z-index: 1;
}

#menuPrincipal #enlaces .subMenu a {
	color: var(--subMenuColor);
	display: block;
	padding: 0 .6rem;
	text-decoration: none;
	transition: .6s;
	white-space: nowrap;
}

#menuPrincipal #enlaces .subMenu a:hover {
	background: var(--corporativo);
	color: var(--color);
}

#portada {
	background: var(--corporativo);
	color: var(--color);
	padding: 1rem;
}